body{
    font-family: Arial,  sans-serif;
    background-color: rgb(206, 240, 229);
    justify-content: center;
    align-items: center;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 1px solid gainsboro;
    border-radius: 1em;
    background-color: white;
    
  }
.form-group form .user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    grid-template-columns: auto;
    flex-direction: row;
}
.required::after {
    content: " *";
    color: rgb(37, 175, 60);
}
input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 100px;
}
.query {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .query input[type="radio"] {
    margin-right: 5px;
  }
  
  textarea {
    resize: vertical;
  }
.form-group{
    flex-direction: row;
}

button {
    background-color: #17ac6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  
 

